/* Reset some default browser styles for better consistency */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

button {
  height: 2.5rem;
  width: 6rem;
}

.header {
  background-color: #fff;
  color: white;
  padding: 0px;
  border: 1px solid #ccc;
  margin-left: 50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  text-align: center;
  width:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 1rem; /* Move the header down */
  transform: translateX(-50%);
}

.navbar {
  background-color: #fff;
  color: white;
  height: 4rem;
  padding: 0px;
  border: 1px solid #ccc;
  margin-left: 50%;
  align-self: center;
  text-align: left;
  width:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}

.articles {
  background-color: #fff;
  color: white;
  height: fit-content;
  padding: 0px;
  border: 1px solid #ccc;
  margin-left: 50%;
  vertical-align: bottom;
  text-align: center;
  width:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}
.article {
  background-color: #fff;
  color: white;
  height: fit-content;
  padding: 0px;
  border: 1px solid #ccc;
  margin-left: 50%;
  vertical-align: bottom;
  text-align: center;
  width:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}


.footer {
  background-color: #fff;
  color: white;
  padding: 0px;
  border: 1px solid #ccc;
  margin-left: 50%;
  align-self: center;
  text-align: center;
  width:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 1rem; /* Move the header down */
  transform: translateX(-50%);
}
.content {
  padding: 20px;
}

.rightButton {
  float: right;
}

.articleCard {
  width: fit-content;
  margin: 3px;
  border: 2px solid black; /* Set the width and style of the border */
  border-radius: 1rem;
  cursor: pointer;
 }

 .commentCard {
  width: 80%;
  margin: 2rem;
  margin-left: 10%;
  border: 2px solid black; /* Set the width and style of the border */
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
 }

 .AllArticlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

.articleText {
  color: black;
}

.commentText {
  font-size: 1.4em;
  color: black;
}



.imageforarticle {
  max-width: 70%
}

.articleImage {
  width: 10rem;

}